<% provide(:title, "ホーム") %>
<div class="center jumbotron">
  <% if logged_in? %>
    <h1>勤怠システム</h1>
  <% else %>
    <h1>勤怠システム</h1>
      <%= link_to "ログイン", login_path, class: "btn btn-lg btn-primary" %>
    <p>
      <%= "アカウント作成は" %>
      <a href = "/signup">こちら</a>
      <%= "から" %>
    </p>
  <% end %>  
</div>