<li>
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user) %>
  <ul>
    | <%= link_to "削除", user, method: :delete, class: "btn btn-primary", data: { confirm: "削除してよろしいですか？" } %>
  </ul>
  
  <ul>
    <table class = "table-bordered  table-striped table-condensed">
      <tr>
        <td>
          <%= link_to "編集", basic_info_path(user), class: "btn btn-primary btn-lg pull-left" %> 
        </td>
      </tr>
    </table>  
  </ul>
  
  <% end %>
</li>